# Package Files #
*.jar
*.war
*.ear

### Eclipse ###
*.pydevproject
.project
.metadata
.recommenders
bin/**
tmp/**
tmp/**/*
**/bin
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
